<section>
 <div class="container mt-4">
     <div class="row">
     <div class="col-md-6">
         <h2 class="text-center">Add Products</h2>
         <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
             <label for="">Name</label>
             <input type="text" name="Name" class="form-control">

             <label for="">Catogry</label>
             <input type="text" name="Catogry" class="form-control">

             <label for="">Price</label>
             <input type="text" name="Price" class="form-control">

             <label for="">Descryption</label>
             <input type="text" name="Descryption" class="form-control">

             <label for="">Image File</label>
             <input type="file" name="Image" class="form-control">
             
             <button type="submit" class="btn btn-success mt-4">Submit</button>
         </form>
     </div>
 </div>
 </div>
</section>