
<!-- Card Section -->
<section class="container mt-5">
    <div class="row">
        <!-- 1st card 1st column -->
        {{#each products}}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{this.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.descryption}}</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</section>
