
<!-- Card Section -->
<section class="container mt-5">
    <div class="row">
        <!-- 1st card 1st column -->
        {{#each products}}
        <div class="col-md-3 mt-3">
            <div class="card p-3" style="width: 15rem; height:30rem;">
                <img style="height: 10rem;" src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">{{this.Descryption}}</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</section>
